{% extends 'default.html' %}

{% load my_filters %}
{% load my_tags %}

{% block title %}
News
{% endblock title %}

{% block content %}
<h1 class="text-center">Новости <span class="text-muted fs-6 fw-normal">Всего: {{ page_obj.paginator.count }} </span></h1>
<h5>{% current_time %}</h5>
{% if is_not_signed %}
<p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a> </p>
{% endif %}
<hr>

   {% if category_news_list %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Описание</td>
               <td>Дата публикации</td>
               <td>Автор</td>
               <td>Категории</td>
               {% if perms.news.change_news or perms.post.change_post or perms.news.delete_news or perms.post.delete_post %}
               <td>Действия</td>
               {% endif %}

           </tr>
           {% for new in category_news_list %}
           <tr>
               <td>{{ new.title|truncatewords:3|censor }}</td>
               <td>{{ new.text|truncatechars:20|censor }}</td>
               <td>{{ new.dateCreation }}</td>
               <td>{{ new.author }}</td>
               <td>{% for category in new.category.all %}
                    <a href = "{% url 'category_list' category.id %}">{{ category|truncatechars:15 }}</a>
                    {% endfor %}
               </td>
               </td>
               {% if perms.news.change_news or perms.post.change_post %}
               <td>
                   <a href="{{ new.categoryType }}/{{ new.id }}/update/">Изменить/</a>
               {% endif %}
               {% if perms.news.delete_news or perms.post.delete_post %}
               <a href="{{ new.categoryType }}/{{ new.id }}/delete/">Удалить</a>
               {% endif %}
               </td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

{% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}